body {
color:white;
background-color:black;
background-image:url(fond.jpg);
background-repeat:no-repeat;
background-position:right top;
}
p {
font-family: Tahoma, Verdana, sans-serif;
}

h2 {
font-family: copperplate1, Verdana, sans-serif;
}

@font-face {
    font-family: 'copperplate1';
    src: url('OPTICopperplate.otf');
}

@font-face {
    font-family: 'copperplate2';
    src: url('OPTICopperplate-Heavy.otf');